.TOCONSUME  {
  background-color: blue;
  color: white;
}
.CONSUMING  {
  background-color: green;
  color: white;
}
.FINISHED  {
  background-color: grey;
  color: white;
}
.DROPPED  {
  background-color: grey;
  color: white;
}
