
// custom anti-lib item colors
// we're keeping things pretty globabl here, we'll scope things if we find any ambiguity later
.org-todo {
  padding: 0.3em 0.5em 0.3em 0.5em;
  font-size: 0.6em;
}
span.tag {
  color: black;
  padding: 0.3em 0.5em 0.3em 0.5em;
  background: pink;
  font-size: 0.4em;
}
.TOCONSUME  {
  background-color: #218c74;
  color: white;
}
.CONSUMING  {
  background-color: #ffda79;
  // color: white;
}
.FINISHED  {
  background-color: #aaa69d;
  color: white;
}
.DROPPED  {
  background-color: black;
  color: white;
}

.no-tags {
  span.tag {
    display: none;
  }
}

// custom checkboxes
input[type="checkbox"] {
  -webkit-appearance: none; // add if not using autoprefixer
}
input[type="checkbox"]::before {
  content: "☐";
}
input[type="checkbox"]:checked::before {
  content: "✅";
}

.small-text {
  font-size: 0.8em;
}

.md-text {
  font-size: 0.9em;
}

.smol-table {
  table {
    font-size: 0.8em;
  }
}

.book-section-flat {
  margin: 0;
}

// aside nav ul ul {
//   padding-inline-start: 0;
// }

.book-menu-content {
  nav {
    font-size: 0.8rem;
    ul ul {
      padding-inline-start: 0;
    }
  }

}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: 600;
}

.mb-2 {
  margin-bottom: 1em;
}
