// custom anti-lib item colors
.TOCONSUME  {
  background-color: blue;
  color: white;
}
.CONSUMING  {
  background-color: green;
  color: white;
}
.FINISHED  {
  background-color: grey;
  color: white;
}
.DROPPED  {
  background-color: grey;
  color: white;
}

// custom checkboxes
input[type="checkbox"] {
  -webkit-appearance: none; // add if not using autoprefixer
}
input[type="checkbox"]::before {
  content: "✍🏽";
}
input[type="checkbox"]:checked::before {
  content: "✅";
}
